# Banco de dados do projeto
DB_HOST=postgres_vagas
DB_PORT=5432
DB_NAME=vagas_db
DB_USER=vagas_user
DB_PASSWORD=vagas_pass

# Remotive API
REMOTIVE_URL=https://remotive.com/api/remote-jobs
REMOTIVE_CATEGORY=software-dev
REMOTIVE_LIMIT=100

# Caminhos internos (Docker)
CSV_PATH=/opt/airflow/data/job_postings.csv
JSON_PATH=/opt/airflow/data/stacks_map.json
